*.pub
SSH-key-for-Ansible
SSH-key-for-all
Keypair-Bahrain.pem
ssh-key-for-all
keys/
**/.terraform/*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
crash.log
crash.*.log
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.28.0/linux_amd64/terraform-provider-aws_v5.28.0_x5

/home/amrkedra/First-DevOps-Repo-For-Organization/Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.28.0/linux_amd64/terraform-provider-aws_v5.28.0_x5
